h1 {
  color: white;
  font-weight: bold !important;
  text-transform: uppercase;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8), 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 15px 0px;
}

.about-underline {
  width: 150px;
  height: 5px;
  background-color: black;
  transition: 1s ease;
  border-radius: 50px;
}
.about-underline:hover {
  width: 100%;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.7);
  background-color: green;
}
.underline2 {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.about-image {
  height: 80%;
  transform: scale(2);
  top: 50px;
  position: absolute;
  transition: 0.3s;
}
.about-image-container {
  overflow: hidden;
}

.about-content {
  transition: 0.3s;
}

@media only screen and (max-width: 1000px) {
  .about-underline {
    width: 120px;
    transition: 0.3s;
  }
  .about-image {
    top: 60px;
    left: 20px;
    transform: scale(1.7);
    transition: 0.3s;
  }
}
@media only screen and (max-width: 900px) {
  .about-image {
    top: 60px;
    left: 0px;
    transform: scale(1.4);
    transition: 0.3s;
  }
}

@media only screen and (max-width: 600px) {
  .about-underline {
    width: 100px;
    transition: 0.3s;
  }
  .about-content{
    font-size: 14px;
    transition: .3s;
  }
}
