.contact {
  background-color: #010617;
}

.contact-underline {
  background-color: white;
}

.contact-list li a {
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0.7;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.contact-list li a:hover {
  opacity: 1;
  letter-spacing: 0px;
  transition: 0.5s;
}

.contact-list li p {
  height: 4px;
  width: 0px;
  background-color: green;
  transition: 0.5s;
}

.contact-list li a:hover + p {
  width: 100px;
  transition: 0.5s;
}
