.projects {
  width: 100%;
  background: linear-gradient(to bottom, #e9e6fe, #fbfaff);
  position: relative;
}
.color-purple {
  color: blueviolet;
}
.project-text {
  position: relative;
  bottom: 50px;
  text-align: center;
  transition: 0.3s;
  font-size: 20px;
  color: #15255e;
  text-shadow: none;
  text-transform: capitalize;
  z-index: 120;
}

.curve-arrow {
  position: absolute;
  top: -6%;
  left: 42%;
  display: none;
}
.external-links:hover {
  color: rgb(0, 85, 255);
  transition: 0.5s;
}
.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects div .card {
  transition: 0.7s;
}
.projects div .card:hover {
  box-shadow: 15px 15px 27px rgba(200, 200, 200, 0.7),
    15px 15px 27px rgba(200, 200, 200, 0.7);
  /* background-color: rgb(255, 247, 247); */
  /* background: linear-gradient(to bottom left, blueviolet, white, white); */
  transition: 0.7s;
}

.star {
  position: relative;
  font-size: 16px;
  /* font-weight: bold; */
  color: white;
  text-align: center;
  padding: 26px;
  background-color: #f39c12;
  clip-path: polygon(
    50% 20%,
    61% 35%,
    100% 38%,
    84% 55%,
    79% 81%,
    50% 67%,
    21% 81%,
    22% 57%,
    2% 35%,
    39% 35%
  );
  animation: changeBGcolor 2.5s linear infinite;
}

@keyframes changeBGcolor {
  0% {
    background-color: orange;
  }
  33% {
    background-color: orange;
  }
  34% {
    background-color: blue;
  }
  66% {
    background-color: blue;
  }
  67% {
    background-color: green;
  }
  100% {
    background-color: green;
  }
}

.technology-design {
  background-color: rgb(197, 226, 241);
  padding: 3px 8px;
  border-radius: 50px;
  color: blue;
  font-size: 10px;
}

@media only screen and (min-width: 400px) {
  .project-text {
    bottom: 10px;
    font-size: 30px;
    transition: 0.3s;
  }
}

@media only screen and (min-width: 500px) {
  .project-text {
    bottom: 20px;
    font-size: 35px;
    transition: 0.3s;
  }
}
@media only screen and (min-width: 576px) {
  .curve-arrow {
    display: flex;
    left: 10%;
    transform: rotate(16deg);
    transition: 0.3s;
  }
}
@media only screen and (min-width: 700px) {
  .project-text {
    bottom: 30px;
    font-size: 50px;
    transition: 0.3s;
  }
  .curve-arrow {
    left: 33%;
    transform: rotate(10deg);
    transition: 0.3s;
  }
}
@media only screen and (min-width: 900px) {
  .project-text {
    bottom: 40px;
    font-size: 60px;
    transition: 0.3s;
  }
  .curve-arrow {
    left: 33%;
    transform: rotate(10deg);
    transition: 0.3s;
  }
}

@media only screen and (min-width: 1100px) {
  .project-text {
    bottom: 50px;
    font-size: 70px;
    transition: 0.3s;
  }
  .curve-arrow {
    left: 42%;
    transform: rotate(10deg);
    transition: 0.3s;
  }
}
