.skills {
  width: 100%;
  margin: 0;
  background-color: rgba(240, 240, 240, 255);
  background-image: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 255),
    #e9e6fe
  );
}

.skill-overview-box {
  width: 380px;
  height: 180px;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(170, 170, 170, 0.7);
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  position: relative;
  overflow: hidden;
}
.skill-overview-box h3 {
  color: blueviolet;
  transition: 0.3s;
}
.skill-overview-box:hover {
  box-shadow: 15px 15px 27px rgba(200, 200, 200, 0.7);
  transform: scale(1.06);
  transition: all 0.7s;
}

.skills-images div div {
  z-index: 100;
}
.skills-img-box {
  font-weight: 500;
  width: 110px;
  height: 110px;
  text-align: center;
}

.skill-text {
  position: absolute;
  bottom: 50px;
  right: 100px;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.89);
  font-family: Roboto;
  text-shadow: 2px 2px 14px rgba(69, 67, 67, 0.5);
  transition: 0.3s;
}

@media only screen and (max-width: 925px) {
  .skill-overview-box p {
    font-size: 12px;
    transition: 0.5s;
  }
  .skill-overview-box h3 {
    font-size: 20px;
    transition: 0.5s;
  }
  .skill-overview-box {
    width: 300px;
    height: 150px;
  }
  .skill-text {
    font-size: 5rem;
    transition: 0.3s;
  }
  .skills-img-box img {
    width: 50px !important;
    height: 50px !important;
  }
  .skills-img-box {
    font-size: 14px;
  }
}
@media only screen and (max-width: 680px) {
  .skill-overview-box h3 {
    font-size: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
  }
  .skill-overview-box {
    width: 250px;
    height: 150px;
    padding: 2px !important;
    flex-grow: 0.3;
  }
}
@media only screen and (max-width: 579px) {
  .skill-overview-box {
    flex-grow: 0.4;
  }
}
@media only screen and (max-width: 324px) {
  .skill-overview-box {
    flex-grow: 1;
  }
}
